In [8]:
# 1.Write a Python program to convert kilometers to miles?

km = float(input("Enter the value in Kilometers: "))
Miles = km * 0.62137
print(f"Number of Kilometers in Miles is {Miles}")

Enter the value in Kilometers: 3.3
Number of Kilometers in Miles is 2.050521

In [7]:
# 2.Write a Python program to convert Celsius to Fahrenheit?

cel=float(input("Enter the temperature in Celsius "))
fahr=(cel*1.8)+32
print(f"Temperature in Fahrenheit is {fahr}")

Enter the temperature in Celsius 30
Temperature in Fahrenheit is 86.0

In [12]:
# 3.Write a Python program to display calendar?

import calendar
y=int(input("Enter year "))
print(calendar.calendar(y))

Enter year 2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [17]:
# 4.Write a Python program to solve quadratic equation?

import cmath
a=int(input("Enter a "))
b=int(input("Enter b "))
c=int(input("Enter c "))
d=(b**2)-(4*a*c)
sol1=(-b+cmath.sqrt(d))/(2*a)
sol2=(-b-cmath.sqrt(d))/(2*a)
print(f"The solution of the quadratic equation is {sol1} and {sol2}")

Enter a 1
Enter b 5
Enter c 6
The solution of the quadratic equation is (-2+0j) and (-3+0j)

In [21]:
# 5.Write a Python program to swap two variables without temp variable?

a=int(input("Enter a ")) 
b=int(input("Enter b ")) 
a=a+b 
b=a-b 
a=a-b 
print(f"Value of a is {a}")
print(f"Value of b is {b}")

Enter a 3
Enter b 4
Value of a is 4
Value of b is 3